<header>
    <%- include('./social-links'); %>
    <div class="site-title">
        <a class="title" href="/" title="Home"><%= config.name %></a>
        <span><%= config.description %></span>
    </div>
    <nav>
        <% 
        let navigation = config.navigation || [
            {
                url: '/',
                title: 'Home',
                label: 'Home'
            }
        ];
        for (let i = 0; i < navigation.length; i++) {
            let nav = navigation[i];
        %>
            <a href="<%= nav.url %>" title="<%= nav.title %>"><%= nav.label %></a>
        <%}%>
    </nav>
</header>
<div class="separator header-separator">&nbsp;</div>
